#AppReviewsService {
    margin-left: -40%;
}

#app-description-service {
    margin-left: -40%;
}
._29NlXvvEEIQAH0FIGBrmhp {
    bottom: 34% !important;
}

#header-image {
    position: sticky;
    top:0px;
    background-image: url(https://s3-us-west-1.amazonaws.com/bearbnbphotos/bbnb.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 80px;
    margin: auto;
    z-index: 900;
}

#booking-widget {
    position: sticky  !important;
    margin-top: 32px;
    margin-right: calc(5vw + 20px);
    top: 105px  !important;
}